<div class="row">
  <div class="col-md-12">
    <h4>Types</h4>
    <select class="form-control"
            ng-options="type.name for type in $ctrl.types"
            ng-model="selectedType"
            ng-change="changeSelectedType(selectedType)">
            <option value="" disabled>Please select one</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4 ng-show="selectedType">Things that belongs to {{selectedType.name}}</h4>
    <ul ng-repeat="thing in $ctrl.things">
      <li>
        <a ng-click="$ctrl.clickThing(thing);">
          {{thing.name}}
        </a>
      </li>
    </ul>
  </div>
</div>
